
$st-wrapper---dp: $html---dp !default;

@mixin st-wrapper() {
   @include component;

   padding: $st-divider---dp;
   display: block;
   clear: both;

   &--half {
      padding: $st-divider---dp / 2;
   }
}

.st-wrapper {
   @include st-wrapper();
}
