
$st-table---border: 1px solid get-color(n3) !default;
$st-table---font-face: text !default;
$st-table---font-size: 16px !default;
$st-table__body--odd---background: get-color(n1) !default;
$st-table__body-cell---border: 1px solid get-color(n2) !default;
$st-table__body-head---background: get-color(n3) !default;
$st-table__caption---background: get-color(n6) !default;
$st-table__caption---color: get-color(n0) !default;
$st-table__caption---padding: 16px 24px !default;
$st-table__cell---padding: 10px 24px !default;
$st-table__head-cell---padding: 16px 24px !default;

@mixin st-table(){
   @include component;
   @include typo($st-table---font-face);

   border: $st-table---border;
   border-top: 0;
   font-size: $st-table---font-size;

   &__caption{
      padding: $st-table__caption---padding;
      background: $st-table__caption---background;
      color: $st-table__caption---color;
   }

   &__cell{
      padding: $st-table__cell---padding;
   }

   &__head{
      background: $st-table__body-head---background;
   }
   &__head-cell{
      padding: $st-table__head-cell---padding;
   }

   &__body-cell{
      border-top: $st-table__body-cell---border;
   }

   &__body:first-child &__cell{
      border-top: 0;
   }
   &__body:nth-child(even) &__cell{
      background: $st-table__body--odd---background;
   }

}

.st-table{
   @include st-table();
}
