
$st-button---background: get-color(n3) !default;
$st-button---is-upper: true !default;
$st-button---font-family: heading !default;
$st-button---border: 0 !default;
$st-button---font-size: 18px !default;
$st-button---height: 40px !default;
$st-button---padding: 12px !default;
$st-button--hover---background: get-color(n4) !default;
$st-button--slim---font-size: 16px !default;
$st-button--slim---height: 30px !default;
$st-button__icon---margin: 8px !default;

@mixin st-button(){
   @include component;
   @include transition;
   @include typo($st-button---font-family);

   border: $st-button---border;
   background: $st-button---background;
   font-size: $st-button---font-size;
   padding: 0 $st-button---padding;
   cursor: pointer;
   outline: none;

   @if ($st-button---is-upper) {
      text-transform: uppercase;
   }

   &:hover{
      background: $st-button--hover---background;
   }

   &,
   &__icon,
   &__text{
      height: $st-button---height;
      line-height: $st-button---height;
      display: inline-block;
      vertical-align: middle;
   }

   &__text{
      line-height: $st-button---height - 3px;
   }

   &__icon{
      margin-right: $st-button__icon---margin;
      float: left;
      font-size: 1.1em;
   }

   &--icon-right &__icon{
      float: right;
      margin-left: $st-button__icon---margin;
      margin-right: 0;
   }

   &--slim{
      font-size: $st-button--slim---font-size;
   }
   
   &--slim,
   &--slim &__icon,
   &--slim &__text{
      height: $st-button--slim---height;
      line-height: $st-button--slim---height;
      vertical-align: top;
   }
}

.st-button{
   @include st-button();
}
